DATABASE_URL="postgresql://usuario:senha@localhost:5433/foodshare?schema=public"

MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="troque-me"
MINIO_SECRET_KEY="troque-me"

JWT_SECRET="gere-com-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"
